<div style="padding: 20px;">
    <div style="padding: 20px;">
        <p><span style="color: #333333;font-size:1.05rem">Ol&aacute;!</span></p>
        <p><span style="color: #333333;">Foi efetuado um pedido para recuperar a sua <b>password</b> de acesso à plataforma Library.</span></p>
        <p><span style="color: #333333;">Se foi você, <b><a href={{Link}}>clique aqui</a></b> para redefinir a password.</span></p>
        <p><span style="color: #333333;">Caso contrário, reencaminhe esta informação para o Administrador da plataforma</span></p>
    </div>
</div>
